/* start General Rules */
:root {
  --main-gradient: linear-gradient(135deg, #ff9a9e, #fad0c4);
  --menu-color: #fad0c4;
  --secondary-gradient: linear-gradient(135deg, #ff7eb3, #ff758c);
  --secondary-gradient-reverse: linear-gradient(135deg, #ff758c, #ff7eb3);
  --btn-on: #ff758c;
  --btn-off: #d8d9db;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #333;
}

.animation-on {
  animation: gradientAnimation 10s ease infinite;
}

.pink-mode {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb);
  background-size: 400% 400%;
}

.blue-mode {
  background: linear-gradient(135deg, #3a506b, #5bc0eb, #1c2541);
  background-size: 400% 400%;
}

/*body background animation*/
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* End General Rules */

/* Start Main Div */
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem; /* 20px */
  position: relative;
}
/* End Main Div */

/* Start Input Field Styling */
input[type="text"] {
  width: 25rem; /* 400px */
  height: 3.75rem; /* 60px */
  padding: 0.75rem 0.9375rem; /* 12px 15px */
  margin: 1.25rem auto; /* 20px */
  display: block;
  font-size: 1.875rem; /* 30px */
  font-family: "Arial", sans-serif;
  border: 0.125rem solid #4facfe; /* 2px */
  border-radius: 0.5rem; /* 8px */
  background-color: #f4faff;
  color: #333;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  border-color: #00f2fe;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 242, 254, 0.5); /* 4px 12px */
  outline: none;
}

input[type="text"]::placeholder {
  color: #aaa;
  font-style: italic;
}
/* End Input Field Styling */

/* Start Select Styling */
select {
  width: 23.125rem; /* 370px */
  height: 3.75rem; /* 60px */
  padding: 0.75rem 0.9375rem; /* 12px 15px */
  display: block;
  font-size: 1.875rem; /* 30px */
  font-family: "Arial", sans-serif;
  border: 0.125rem solid #4facfe; /* 2px */
  border-radius: 0.5rem; /* 8px */
  background-color: #f4faff;
  color: #333;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

select:focus {
  border-color: #3a9bfc;
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.15); /* 6px 12px */
  outline: none;
}
/* End Select Styling */

/* Start Student-marks Input */
/* This is the div that contains the student name on left and number input on right */
.append-div {
  width: 25rem; /* 400px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem; /* 30px */
}

/* This span is for the student name */
.append-div span {
  color: white;
  font-size: 1.5rem;
}

/* This input is for the student score input */
.append-div input {
  display: block;
  font-family: "Arial", sans-serif;
  border: 0.125rem solid #4facfe; /* 2px */
  border-radius: 0.5rem; /* 8px */
  background-color: #f4faff;
  height: 1.875rem; /* 30px */
  color: #333;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
/* End Student-Marks Input */
